.card{
  width: 80vw;
  background-color: #fff1;
  padding: 20px 10px;
  margin: 30px auto;
  border-radius: 5px;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr,4);

  &__header{
    text-align: center;
    font-size: 25px;
    margin: 5px 0;

  }
  &__content{

  }

  &__image{
    min-width: 250px;
    max-width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
}
