.text {
  font-family: Kanit, "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  &::first-letter {
    margin: 0 0 0 10px;
  }
}

.button {
  padding: 15px 50px;
  margin: 5px 10px;
  border-radius: 10000px;
  background: linear-gradient(120deg, #c300ff, #00d9ff);
  color: #ffff;
  font-weight: bold;
  border: none;

  &:active {
    // background: linear-gradient(120deg, hsl(296, 100%, 50%), hsl(199, 100%, 50%));
    padding: 17px 52px;
    transition: width 0.1s ease-in height 0.1s ease-in;
  }
}

.tags {
  margin: 10px 5px;
  &__element{
    margin: 15px 5px;
    padding: 5px 10px;
    display: inline-block;
    text-shadow: 2px 2px #0023;
    border-radius: 100px;

  }
}


.list{
  &__element{
    list-style: none;
    list-style: square;
    a{
      &:link, &:visited{
        color: #fff;
        text-decoration: none;
      }     
    }
  }
}