@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  margin: 0;
  font-family: Secular One, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111b2c;
  color: #ffff;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "nothing  content nothing"
  "nothing  content nothing";
}

.content{
  position: relative;
  grid-area: content;
  font-size: 20px;
  top: 40px;
  margin: 0 20px;
}